$background: #ffffff !default;
$body-background: #f5f5f5 !default;
$footer-background: #f8f8f8 !default;

$text: #000000 !default;
$text-strong: #000000 !default;
$text-light: #000000 !default;
$link: #000000 !default;
$link-hover: #f7bba58 !default;

$primary: #f7bba58 !default;

$family-sans-serif: "Helvetica", "Arial", sans-serif !default;
$family-monospace: "Courier New", monospace !default;

$size-base: 1rem !default;
$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-semibold: 500 !default;
$weight-bold: 700 !default;

$radius: 0 !default;
$box-shadow: none !default;
