$background: #ffffff !default;
$body-background: #f5f5f5 !default;
$footer-background: #f8f8f8 !default;

$text: #363636 !default;
$text-strong: #000000 !default;
$text-light: #7a7a7a !default;
$link: #3273dc !default;
$link-hover: darken($link, 10%) !default;

$primary: #3273dc !default;
$info: #209cee !default;
$success: #23d160 !default;
$warning: #ffdd57 !default;
$danger: #ff3860 !default;

$family-sans-serif: "Helvetica", "Arial", sans-serif !default;
$family-monospace: "Courier New", monospace !default;

$size-base: 1rem !default;
$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-semibold: 500 !default;
$weight-bold: 700 !default;

$radius: 4px !default;
$box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1) !default;
